<h2 style="text-align:center">Welcome To Book my Show</h2>
<%= link_to "Watch movies here ...", movies_path %><br/>
<% if user_signed_in? %>
	<%= link_to "Include new movies...", new_movie_path %>
<% end %>